nav {
  position: fixed;
  padding: 0 2em;
  background-color: #00a087;
  font-color: #e8fdff;
  height: 80px;
  width: 100%;
  top: 0;


}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  float: left;
  padding-left: 10px;
  line-height: 2;
}

#compose {
  float: right;
  background-color: #cbf2d7;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 12px;
  font-size: 18px;
  margin-top: 6px;
  width: 88.98438px;
  height: 63.98438px;
  text-align: center;
  line-height: 3.3;
  color: #16aa42;
}