
  .tweet .header {
    margin-top: 20px;
    background-color: #dee2e8;
    width: 100%;
    height: 90px;
    float: top;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .tweet .header img {
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
  }

  .tweet .header h2 {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px
  }

  .tweet .header h1 {
    float: right;
    margin-right: 10px;
    margin-top: 22px;
    margin-bottom: 40px;
    font-size: 16px;
    color: #646c77;
  }

/*  .tweet {
    height: 400px;
    border-radius: 15px;
  }*/

  .tweet .content {
    padding-top: 20px;
    word-wrap:break-word;
    line-height: 1.6;
    padding-bottom: 10px;
    padding: 1em;
  }

  .tweet footer {
    height:60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    background-color: #dee2e8;
    margin-bottom: 20px;
  }

  .tweet footer .fa.fa-flag {
    color: #42dcf4;
    float: right;
    padding-top: 22px;
  }

  .tweet footer .fa.fa-retweet{
    color: #42dcf4;
    float: right;
    padding-top: 22px;
    padding-left: .5em;
  }

  .tweet footer .fa.fa-heart {
    color: #42dcf4;
    float: right;
    padding-right: 1em;
    padding-left: .5em;
    padding-top: 22px;
  }

  .tweet footer .date {
    float:left;
    float: bottom;
    line-height: 3.6;
    padding-left: 10px;
    font-color: grey;

  }

  .tweet:hover {
    opacity: 0.75;
    transition: 1s;
  }



